.container {
  margin: 0 5rem;
  padding-bottom: 5rem;

  @media (max-width: 1000px) {
    margin: 0 2rem;
    padding-bottom: 3rem;
  }
}

.accordionWrapper {
  padding-top: 5rem;
  width: 70%;
  margin: 0 auto;

  font-size: 2rem;
  text-align: justify;

  p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--color-text);

    @media (max-width: 1000px) {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  @media (max-width: 1400px) {
    width: 100%;
    font-size: 1.8rem;
    padding-top: 2rem;
  }
}
