.BtnAll {
     background-color: black;
     color: white; 
    
    height: 56px;
    border: 0; 
    padding: 0 16px;
    margin-top: 16px;
    border-radius: 10px;
    font-weight: 500px; 
  
}

.BtnAll:hover {
        opacity: 0.5;
        background-color: white;  
}

/* METE UM PRETTIER AQUI PELAMORDEDELS */