.container {
  // background: linear-gradient(
  //   132deg,
  //   rgba(0, 0, 0, 1) 50%,
  //   rgba(51, 204, 102, 0.322) 100%
  // );

  display: grid;
  width: 100%;
  height: fit-content;
  margin-top: calc(75px + 1.5rem);

  grid-template-areas:
    'header'
    'hero';
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem;
}

#TextForm {
  width: 50%;
  flex-wrap: wrap;

  h1 {
    font-size: 8rem;
    font-family: Arial, Helvetica, sans-serif;

    span {
      color: #2ce6e8;
    }
  }

  p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  .strong {
    color: #2ce6e8;
    text-transform: uppercase;
  }
}

#logo {
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

#logo:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: black;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  background-image: linear-gradient(to right, #006175 0%, #2ce6e8 100%);
  color: white;
  border-color: white;
  border: 3px solid;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn3637:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

@media screen and (max-width: 768px) {
  #GifGreen {
    display: none;
  }

  .main {
    padding: 20px;
  }

  #TextForm {
    width: 100%;
  }

  #TextForm h1 {
    font-size: 40px;
  }

  .bn3637 {
    width: 100%;
  }
}
