.container {
  display: flex;
  width: 100%;
  height: fit-content;
  @media (max-width: 768px) {
    text-align: center;
        }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


#TextForm {
  margin-left: 2rem;
  width: 50%;
  flex-wrap: wrap;
  h1 {
    font-size: 9rem;
    font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;

    span {
      color: #2ce6e8;
    }
  }

  p {
    font-size: 1.75rem;
    letter-spacing: 0.2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 3rem;
  }


  @media (max-width: 768px) {
    width: 100%;
    height: 100%;

    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.75rem;
    }

  }
}
