.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 795px) {
    p {
      margin: 0 2rem;
    }
  }

  @media (max-width: 425px) {
    p {
      margin: 0 2rem;
    }
  }
}
