.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  padding-bottom: 5rem;

  @media (max-width: 800px) {
    margin: 0 2rem;
  }
}

.textSocial {
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5rem;

    @media (max-width: 800px) {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    @media (max-width: 320px) {
      font-size: 2rem;
    }
  }
}

.cardsSocial {
  margin: 0 5rem;

  display: flex;
  justify-content: space-between;

  @media (max-width: 1400px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    justify-items: center;
    gap: 2rem;
    margin: 0 2rem;
  }

  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
  }

  @media (max-width: 320px) {
    margin: 0 1rem;
  }
}

.card {
  border-radius: 1rem;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  height: fit-content;
  width: 35rem;

  background-color: black;
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;

    @media (max-width: 800px) {
      font-size: 2rem;
    }

    @media (max-width: 320px) {
      font-size: 1.75rem;
    }
  }

  p {
    font-size: 2.25rem;

    @media (max-width: 800px) {
      font-size: 2rem;
    }

    @media (max-width: 320px) {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 800px) {
    width: fit-content;
  }
}

.card::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  height: 100%;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 1s ease-out;
}

.cardFace .card::before {
  background: #3b5998; /* Facebook background color */
}

.cardInsta .card::before {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.cardYoutube .card::before {
  background: #ff0000; /* YouTube background color */
}

.cardGoogle .card::before {
  background: green; /* Google background color */
}

.card:hover::before {
  transition-delay: 0.2s;

  transform: scale(40);
}
