@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&family=Poppins:wght@200;400&family=Roboto:wght@300;400&display=swap');

:root {
  font-size: 62.5%; // 62.5% = 10px
  --text-base-size: 1rem;
  --text-scale-ratio: 0.75;
  --font-primary: 'Poppins', sans-serif;

  --color-primary: #2ce6e8;
  --color-seconday: #06fcff;
  --color-tertiary: #4669ff;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background: linear-gradient(
    128deg,
    rgba(0, 0, 0, 1) 80%,
    rgba(44, 230, 232, 0.74) 100%
  );

  word-wrap: break-word;
  overflow-wrap: break-word;
  color: white;
  font-family: var(--font-primary);

  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: var(--font-primary);

  outline: none;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover,
a:hover {
  filter: brightness(0.9);
}
