@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&family=Poppins:wght@200;400&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700');

:root {
  --text-base-size: 1rem;
  --text-scale-ratio: 0.75;
  --font-primary: 'Poppins', sans-serif;

  --color-white: #fff;
  --color-primary: #2ce6e8;
  --color-seconday: #06fcff;
  --color-tertiary: #4669ff;
  --color-footer: #666;
  --color-text-dark: #222;
  --color-red: #ff0000;

  --background: linear-gradient(
    128deg,
    rgba(0, 0, 0, 1) 80%,
    rgba(44, 230, 232, 0.74) 100%
  );

  --color-header-border: linear-gradient(to bottom, #000000 90%, #2ce6e8 100%);
  --font-family-footer: 'Open Sans', 'cursive', sans-serif;
  font-size: 62.5%; // 62.5% = 10px
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  word-wrap: break-word;
  overflow-wrap: break-word;
  color: white;
  font-family: var(--font-primary);
}

body,
input,
button {
  font-family: var(--font-primary);

  outline: none;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover,
a:hover {
  filter: brightness(0.9);
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;

  @media (min-width: 2056px) {
    font-size: 4rem;
  }

  @media (max-width: 1000px) {
    font-size: 2.75rem;
  }

  @media (max-width: 320px) {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;

  color: var(--color-primary);

  @media (min-width: 2056px) {
    font-size: 4rem;
  }

  @media (max-width: 1000px) {
    font-size: 2rem;
  }

  @media (max-width: 320px) {
    font-size: 1.5rem;
  }
}

span {
  color: var(--color-primary);
}

p {
  line-height: 1.75em;
  white-space: pre-wrap;
  text-indent: 1.5em;
  font-size: 2.25rem;
  letter-spacing: 0.3rem;

  @media (min-width: 2056px) {
    font-size: 3rem;
  }

  @media (max-width: 1000px) {
    font-size: 2rem;
    line-height: 2.25em;
    letter-spacing: 0.2rem;
    white-space: pre-wrap;
    margin: 0;
    text-align: justify;
  }

  @media (max-width: 320px) {
    font-size: 1.5rem;
    line-height: 1.75em;
    letter-spacing: 0.1rem;
    white-space: pre-wrap;
    margin: 0;
    text-align: justify;
  }
}

li {
  font-size: 2.5rem;
  margin-bottom: 1em;
  white-space: pre-wrap;
  letter-spacing: 0.3rem;
  text-indent: 3em;

  @media (min-width: 2056px) {
    font-size: 3rem;
  }

  @media (max-width: 1400px) {
    text-indent: 0;
  }

  @media (max-width: 1000px) {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    text-indent: 0;
  }

  @media (max-width: 320px) {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    text-indent: 0;
  }
}

sup {
  font-size: 1.5rem;
  vertical-align: super;
  line-height: 0;
  margin-left: 0.5rem;
  color: var(--color-red);
}
