.quemSomosWrapper {
  margin: 0 5rem;

  @media (min-width: 2560px) {
    margin: 0 10rem;
  }

  @media (max-width: 1000px) {
    margin: 0 2rem;
  }
}

.heading {
  padding-bottom: 2rem;

  @media (min-width: 2560px) {
    font-size: 5rem;
  }

  @media (max-width: 1000px) {
    margin-right: 0;
    text-align: start;
  }
}

.container {
  margin: 0 5rem;

  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  p {
    @media (min-width: 2560px) {
      font-size: 3.5rem;
      line-height: 5rem;
      text-indent: 5rem;
      text-align: justify;
    }

    @media (max-width: 1000px) {
      text-indent: 0;
      text-align: center;
    }
  }

  @media (min-width: 2560px) {
    gap: 3.5rem;
    margin: 0 10rem;
  }

  @media (max-width: 1000px) {
    text-align: center;
    margin: 0 2rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }

  @media (max-width: 320px) {
    margin: 0 1rem;
  }
}

.logoAtla {
  img {
    width: 300px;
    height: 300px;
    margin: 0 auto;

    @media (max-width: 1000px) {
      width: 250px;
      height: 250px;
    }

    @media (max-width: 767px) {
      width: 200px;
      height: 200px;
    }

    @media (max-width: 425px) {
      width: 150px;
      height: 150px;
    }

    @media (max-width: 320px) {
      width: 125px;
      height: 125px;
    }
  }
}

.line {
  margin: 3rem 0;
  width: 50vw;
  border: 1px solid white;
}

.logo {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @media (min-width: 2560px) {
    gap: 3rem;
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (max-width: 425px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

.logo {
  padding-bottom: 5rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    color: black;

    p {
      color: #fff;
      font-size: 2rem;

      @media (min-width: 2560px) {
        font-size: 3rem;
      }
    }

    img {
      width: 200px;
      height: 200px;

      @media (min-width: 2560px) {
        width: 400px;
        height: 400px;
      }

      @media (max-width: 1000px) {
        width: 100px;
        height: 100px;
      }
    }
  }

  @media (min-width: 2560px) {
    padding-bottom: 10rem;
  }

  @media (max-width: 1000px) {
    margin: 0 2rem;
  }
}
