.container {
  width: 100vw;
  height: fit-content;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;

  h2 {
    @media (max-width: 425px) {
      font-size: 2rem;
    }

    @media (max-width: 320px) {
      font-size: 1.5rem;
    }
  }

  label,
  input {
    font-size: 1.25rem;
    text-align: center;
    text-wrap: wrap;
  }
}

.stepper {
  padding: 2rem 0;
  display: flex;
  align-items: center;

  font-size: 1.5rem;

  button {
    font-size: 1.2rem;
  }
}
