
.container {
   display:flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto; /* SE TÁ DISPLAY FLEX NÃO PRECISA DE MARGIN 0 AUTO*/
   /* border-bottom-width: 1px;
   border-bottom-style: solid;  */
}

#navBar {
   width: 50%;
  display: flex;
  justify-content: center;
   margin-top: 30px;

}

#navBar a {
   color: #ffff;
   text-decoration: none;
   padding: 0px 70px 10px 20px; /* TEM QUE TRANSFORMAR AS COISAS PRA REM */
   font-size: 20px;
   position: relative;
}

#navBar a::after{
   content: " ";
   width: 0%;
   height: 4px;
   background-color: #3c6;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: 0.7s ease-in-out;
}

#navBar a:hover::after{
   width: 100%;
}

.btnHeader {
   width: 25%;
   display: flex;
   justify-content: flex-end;
   padding-top: 20px;
}



/* APAGAR COMENTÁRIOS DO QUE NÃO TÁ SENDO USADO */


/* #navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 10vh;
    list-style: none;
    letter-spacing: 3px;
    margin-left: 32px;  
}

#navBar a:hover{
   opacity: 1s;
   color: #24f903;
} */

.bn3637 {
    
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 0.7rem 2rem;
   font-family: "Poppins", sans-serif; /* É DIFERENTE DA FONTE DA PAGE? */
   font-weight: 700;
   font-size: 18px;
   text-align: center;
   text-decoration: none;
   color: black;
   backface-visibility: hidden;
   border: 0.3rem solid transparent;
   border-radius: 3rem;
   background-color: black;
   color: white;
 }
 
 .bn3637 { /* TÁ REPETIDO, NÃO VAI PEGAR ALGUMA*/
   border-color: white;
   border: 3px solid;
   transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
 }
 
 .bn3637:hover {
   transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
 }