.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10000;
  background: black;
  height: 80px;
  // Esse padding existe para dar um respiro header e as sections
  padding-bottom: 1rem;
}

.navLink.active {
  color: #ff0000; /* Defina a cor desejada para os links ativos */
}

.logoContainer {
  display: flex;
  width: 45%;
  height: 100px;
  align-items: center;
  margin-left: 5rem;
}

.textLogo {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;

  h1{
    margin-bottom:0;
    margin-top:0;
  }

}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navList {
  width: 100%;
  height: 100px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1rem;
  align-items: center;
  gap: 1.2rem;
  list-style: none;

  a {
    font-size: 1.75rem;
     color: #ffff;
  }
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;

  &::before,
  &::after {
    content: ' ';
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    position: relative;
    margin-top: 5px;
    transition: 0.3s;
  }
}

#btnHeader {
  background: black;
  border-color: white;
  border: 3px solid;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  width: 35%;
  padding: 12px 24px;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }

  .logoContainer {
    display: flex;
    margin: 0;
    margin-left: 2rem;
  }

  #btnHeader {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav {
      margin: 0 1rem;
  }

  .navList {
    // text-align: center;
    position: fixed;
    margin-top: 0;
    margin-left: -3vi;
    height: 100%;
    top: 0;
    left: 3%;

    background: linear-gradient(
      128deg,
      rgb(15, 15, 15) 10%,
      rgb(44, 229, 232) 100%
    );

    clip-path: circle(100px at 90% -60%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }

  .navList a {
    font-size: 24px;
    opacity: 0;
  }

  .navList li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .navList li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .navList li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .navList li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .navList li:nth-child(5) a {
    transition: 0.5s 1s;
  }

  .navList li:nth-child(6) a {
    transition: 0.5s 1.2s;
  }

  .nav.active .navList {
    clip-path: circle(1500px at 100% -15%);
    pointer-events: all;
  }

  .nav.active .navList a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 15px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
