.header {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 100000;
  background: black;
  height: 80px;
}

.nav {
  max-width: calc(100vw - 10rem);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
}

.navList a {
  font-size: 1.75rem;
  color: #ffff;
}

.navList a::after {
  content: ' ';
  width: 0%;
  height: 0.4rem;
  background-color: #2ce6e8;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.7s ease-in-out;
}

.navList a:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: ' ';
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  position: relative;
  margin-top: 5px;
  transition: 0.3s;
}

#btnHeader {
  background: black;
  border-color: white;
  border: 3px solid;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  width: 25%;
}

@media (max-width: 768px) {
  .header {
    display: block;
    padding-left: 5rem;
  
  }
  
  #btnHeader {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 1;
  }

  .navList {
    position: fixed;
    margin-top: 0;
    padding: 9rem 7rem 9rem 6rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      128deg,
      rgb(15, 15, 15) 10%,
      rgb(44, 229, 232) 100%
    );

    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }

  .navList a {
    font-size: 24px;
    opacity: 0;
  }

  .navList li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .navList li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .navList li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .navList li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .navList li:nth-child(5) a {
    transition: 0.5s 1s;
  }

  .navList li:nth-child(6) a {
    transition: 0.5s 1.2s;
  }

  .nav.active .navList {
    clip-path: circle(1500px at 100% -15%);
    pointer-events: all;
  }

  .nav.active .navList a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}