.wrapper {
  height: fit-content;
  width: 100vw;
  background: linear-gradient(#215c72, #243b55);
  padding: 3rem 0;

  @media (min-width: 2560px) {
    padding: 5rem 0;
  }
}

.container {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  gap: 2rem;

  @media (min-width: 2560px) {
    gap: 5rem;
  }

  @media (max-width: 800px) {
    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.textForm {
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media (min-width: 2560px) {
    margin: 0 10rem;
  }

  p {
    text-align: justify;

    @media (min-width: 2560px) {
      font-size: 3.5rem;
    }
  }
}

.formBox {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);

  margin: 0 5rem;
  padding: 4rem;
  border-radius: 1rem;

  @media (min-width: 2560px) {
    margin: 0 10rem;
  }
}

.formBox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--color-white);
  text-align: center;
}

.formBox .userBox {
  position: relative;

  @media (min-width: 2560px) {
    margin: 2rem 10rem;
  }
}

.selectBox {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;

  label {
    position: absolute;
    top: -20px;
    left: 0;

    padding: 10px 0;
    pointer-events: none;

    color: var(--color-primary);
    font-size: 1.4rem;

    @media (min-width: 2560px) {
      font-size: 3.5rem;
      margin: 0 10rem;
    }

    @media (max-width: 800px) {
      font-size: 1.2rem;
    }
  }
}

.selectSubject {
  position: relative;
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.4rem;
  color: var(--color-white);
  margin: 3rem 0;
  border: none;
  border-bottom: 1px solid var(--color-white);
  background: transparent;

  option {
    color: #000;

    @media (min-width: 2560px) {
      font-size: 1.5rem;
      padding: 2rem 0;
    }
  }

  @media (min-width: 2560px) {
    font-size: 3.5rem;
    margin: 0 10rem;
    padding: 4rem 0;
  }
}

.formBox .userBox input {
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.4rem;
  color: var(--color-white);
  margin-bottom: 3rem;
  border: none;
  border-bottom: 1px solid var(--color-white);
  background: transparent;

  @media (min-width: 2560px) {
    font-size: 3.5rem;
    padding: 2rem 0;
  }
}

.userBox textarea {
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.6rem;
  color: var(--color-white);
  border: none;
  border-bottom: 1px solid var(--color-white);
  outline: none;
  background: transparent;

  @media (min-width: 2560px) {
    font-size: 3.5rem;
  }

  @media (max-width: 800px) {
    font-size: 1.4rem;
  }
}

.formBox .userBox label {
  position: absolute;
  top: -20px;
  left: 0;

  padding: 1rem 0;
  pointer-events: none;

  color: var(--color-primary);
  font-size: 1.4rem;

  @media (min-width: 2560px) {
    font-size: 3.5rem;
    padding: 0;
    top: -30px;
  }

  @media (max-width: 800px) {
    font-size: 1.2rem;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 2560px) {
    margin: 0 10rem;
  }
}

.formBox form button {
  position: relative;
  padding: 1rem 2rem;
  color: var(--color-primary);
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 4rem;
  letter-spacing: 0.4rem;
  background-color: transparent;

  @media (min-width: 2560px) {
    font-size: 3.5rem;
    padding: 2rem 4rem;
  }

  @media (max-width: 800px) {
    font-size: 1.4rem;
  }
}

.formBox button:hover {
  background: var(--color-primary);
  color: #000;
  border-radius: 0.5rem;
  box-shadow:
    0 0 5px var(--color-primary),
    0 0 25px var(--color-primary),
    0 0 50px var(--color-primary),
    0 0 100px var(--color-primary);
}

// ANIMAÇÃO DO BOTÃO SUBMIT
.formBox button span {
  position: absolute;
  display: block;
}

.formBox button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(90deg, transparent, var(--color-primary));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.formBox button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--color-primary));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.formBox button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(270deg, transparent, var(--color-primary));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.formBox button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--color-primary));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.error {
  color: var(--color-error);
  font-size: 1.2rem;
  margin-top: -3rem;
  margin-bottom: 3rem;
  margin-left: -2rem;
}
