.wrapper {
  height: fit-content;
  h1,
  h3 {
    font-weight: 700;
  }
}

.main {
 
  margin: 0 auto;
  flex-wrap: wrap;
}

.parallax1,
.parallax2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parallax1,
.parallax2 {
  margin-left: 1rem;

  h1 {
    font-size: 4rem;
    margin: 0;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.75rem;
    color: #2ce6e8;
    margin-top: 5rem;
  }


  p {

    text-align: initial;
    width: 50%;
    margin-left: 1rem;
    font-size: 1.75rem;
    letter-spacing: 0.3rem;
  }
  span {
    color: #2ce6e8;
  }
}

.parallax2 {
  margin-top: 5rem;
}

.textGoals {
  span {
    font-size: 2rem;
  }

  p, h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

.textSocial h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

.textSocial span {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .wrapper {
  text-align: center;  
  }

  .main {
  margin:0 2rem 0 2rem;  

  }

  #btnMsg {
    width: 50vw;
    margin-top: 2rem;
  }

  .parallax1,
  .parallax2 {
    margin-bottom: 5rem;

    h1 {
      font-size: 2.75rem;
    }
    
    h2 {
      font-size: 1.5rem;
    }

    p {
      text-align: center;
      width: 100%;
      margin: 0;
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
    }
  }

  .textSocial h1 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0;
  }

}
