.footerWrapper {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  text-align: left;
  font: bold 16px sans-serif;
  padding: 5.5rem 5rem;

  display: grid;
  grid-template-rows: 1fr 0.3fr;

  @media (max-width: 880px) {
    padding: 5.5rem 2rem;
  }
}

.footerDistributed {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: #ffffff;
    font:
      normal 3.6rem 'Open Sans',
      cursive;
    margin: 0;

    @media (max-width: 880px) {
      font-size: 2.4rem;
    }
  }

  span {
    color: #20b2aa;
  }

  @media (max-width: 880px) {
    flex-direction: column;
    font-size: 2.4rem;
    text-align: center;
    justify-content: center;
    gap: 2rem;
  }
}

.footerLeft,
.footerCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

/* Footer left */

.footerDistributed h3 span {
  color: #20b2aa;
}

/* Footer links */

.footerLinks {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;

  button {
    border: 0;
    background: transparent;
    font-size: 2rem;
    color: #ffff;
    position: relative;
  }
}

.footerCompanyName {
  color: #222;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
  height: fit-content;

  place-self: end;

  @media (max-width: 880px) {
    padding-top: 2rem;
    place-self: center;
  }
}

/* Footer Center */

.footerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  @media (max-width: 880px) {
    gap: 0;
  }
}

.footerCenter p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.footerLinks button:not(:first-child)::before {
  content: ' |';
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
