.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 3rem;

  label,
  input {
    font-size: 2rem;

    @media (min-width: 2560px) {
      font-size: 3rem;
    }

    @media (max-width: 725px) {
      font-size: 1.5rem;
    }

    @media (max-width: 425px) {
      font-size: 1.2rem;
    }

    @media (max-width: 320px) {
      font-size: 1rem;
    }
  }
}

.wrapper {
  height: fit-content;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  div {
    place-self: start;
    width: 100%;
  }

  @media (max-width: 1300px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 425px) {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
  }
}

.error {
  color: var(--color-red);
  font-size: 1.2rem;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
