.wrapper {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 5rem;

  margin: 0 5rem;
  justify-content: center;

  @media (max-width: 1000px) {
    margin: 0 2rem;
  }

  h2 span {
    text-align: center;
  }

  h1,
  h2 {
    padding-bottom: 3rem;
  }
}

.imageWrapper {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1000px) {
    margin: 0 2rem;
    text-align: center;
  }
}

.imageConfig {
  margin: 0 auto;

  img {
    object-fit: contain;
    height: 56rem;
    width: 100%;

    @media (max-width: 1400px) {
      display: none;
    }
  }
}

.paragraphs {
  max-width: 100rem;
  min-height: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: justify;
}

.textGoals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5rem 0;

  p {
    width: 70vw;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  @media (max-width: 1000px) {
    padding: 0;
  }
}
