.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 10rem;

  margin: 9rem 5rem 0;
  justify-content: center;

  @media (max-width: 1000px) {
    margin: 0 2rem;
  }

  h2 span {
    text-align: center;
  }

  h1 {
    padding-bottom: 5rem;
  }
}

.main1 {
  font-family: var(--font-lato), sans-serif;

  overflow: hidden;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: stretch;
  gap: 5rem;

  @media (max-width: 1000px) {
    width: 100%;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1000px) {
    margin: 0 2rem;
    text-align: center;
  }
}

.imageConfig {
  max-height: 100vh;
  width: auto;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;

  border-image: linear-gradient(#000, #000) 90;
  border-width: 4rem;
  border-style: solid;

  @media (max-width: 1000px) {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
  }
}

.paragraphs {
  max-width: 100rem;
  min-height: 4rem;
  max-height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
}

.textGoals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10rem 0;

  p {
    width: 85%;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  @media (max-width: 1000px) {
    padding: 0;
  }
}
