.benefitsWrapper {
  padding-bottom: 5rem;
  margin: 0 5rem;

  h2 {
    padding-bottom: 5rem;

    @media (max-width: 1000px) {
      padding-bottom: 1rem;
    }
  }

  @media (max-width: 1000px) {
    margin: 0 2rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  gap: 3rem;
  text-align: center;

  .benefitsListHeading {
    font-size: 3.5rem;

    @media (max-width: 1000px) {
      font-size: 3rem;
    }
  }

  @media (max-width: 1000px) {
    align-items: flex-start;
    margin: 0 2rem;
  }
}

.benefitsList {
  text-align: center;
}

.beneficiosCheckList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  text-wrap: wrap;

  p {
    margin-bottom: 1em;
  }

  @media (max-width: 1400px) {
    justify-items: start;
    text-indent: 0;
  }

  @media (max-width: 1000px) {
    margin: 0 2rem;
    padding: 0;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    p {
      text-align: center;
      text-indent: 0;
    }
  }
}
