.benefitsWrapper {
  padding-bottom: 10rem;
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    padding-bottom: 4rem;

    @media (max-width: 1000px) {
      padding-bottom: 1rem;
    }
  }

  @media (max-width: 1000px) {
    margin: 0 2rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;

  @media (min-width: 2560px) {
    margin: 0 10rem;
  }

  @media (max-width: 1000px) {
    gap: 3rem;
    margin: 0 2rem;
  }
}

.beneficiosCheckList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-wrap: wrap;
  margin: 0 auto;

  p {
    margin-bottom: 1em;
  }

  @media (min-width: 2560px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1400px) {
    justify-items: start;
  }

  @media (max-width: 1000px) {
    margin: 0 2rem;
    padding: 0;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    p {
      text-align: center;
    }
  }
}

.benefitWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100vw - 10rem);

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1000px) {
    margin: 0 2rem;
    text-align: center;
  }
}

.image {
  height: 100%;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
  }
}

.benefitMainHeading {
  text-align: center;
  text-wrap: 'balance';

  .acesso {
    font-weight: 400;
  }
}

.benefitsList {
  text-align: left;
  margin: 0;
  text-indent: 0;

  margin-right: 5rem;
}

.title {
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;

  @media (min-width: 1000px) and (max-width: 1670px) {
    width: 60vw;
  }

  @media (max-width: 1000px) {
    width: 100%;
    justify-content: center;
    text-wrap: 'balance';
  }
}

.heading {
  margin-left: 1rem;
  display: inline;
  line-height: 1.75em;
}
