.accordionDataWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  p {
    color: var(--color-white);
    font-size: 1.75rem;

    @media (min-width: 2560px) {
      font-size: 2.5rem;
    }

    @media (max-width: 1000px) {
      font-size: 1.5rem;
    }

    @media (max-width: 320px) {
      font-size: 1.25rem;
    }
  }
}
