.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100vh;
  width: 100vw;
  background: var(--background);

  h1 {
    margin: 0 auto;
    text-align: center;
    text-wrap: balance;
  }
}

.typography {
  text-wrap: balance;
  text-align: center;
  margin: 0 auto;
}

.chip {
  margin: 0 auto;
  text-align: center;
  text-wrap: balance;

  font-size: 1.5rem;

  span {
    color: var(--color-white);
  }
}
